@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    margin: 0;
    /* border: 2px solid red; */
}
*, *::before, *::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, p {
    margin-block: 0;
}

.container {
    max-width: 1060px;
    width: 100%;
    margin: 0 auto;
}

/* @media (min-width: 1220px) {
    .container {
        width: calc(-100px + 100vw);
    }
} */

@media (min-width: 700px) {
    .container {
        /* max-width: 650px; */
        max-width: 90vw;
    }
}
/* @media (min-width: 950px) {
    .container {
        max-width: 850px;
    }
} */

.border-bottom {
    border-bottom: 1px solid #dedede;
}